<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Digite seu Nome"
          formControlName="first_name"
          aria-label="Nome"
        />
        @if(registerForm.get('first_name')?.hasError('required')) {
        <mat-error class="form__error"> Nome é obrigatório </mat-error>}
        @if(registerForm.get('first_name')?.hasError('minlength')) {
        <mat-error> Nome deve ter no mínimo 3 caracteres </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Sobrenome</mat-label>
        <input
          matInput
          placeholder="Digite seu sobrenome"
          formControlName="last_name"
          aria-label="Sobrenome"
        />
        @if(registerForm.get('last_name')?.hasError('required')) {
        <mat-error class="form__error"> Sobrenome é obrigatório </mat-error>}
        @if(registerForm.get('last_name')?.hasError('minlength')) {
        <mat-error> Sobrenome deve ter no mínimo 3 caracteres </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field class="form__control">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="Digite seu e-mail"
        formControlName="email"
        aria-label="E-mail"
      />
      @if(registerForm.get('email')?.hasError('required')) {
      <mat-error class="form__error"> E-mail é obrigatório </mat-error>}
      @if(registerForm.get('email')?.hasError('email')) {
      <mat-error class="form__error"> E-mail inválido </mat-error>}
    </mat-form-field>

    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Senha</mat-label>
        <input
          matInput
          placeholder="Digite sua senha"
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
          aria-label="Senha"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          class="form__icon"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        @if(registerForm.get('password')?.hasError('required')) {
        <mat-error class="form__error"> Senha é obrigatória </mat-error>}
        @if(registerForm.get('password')?.hasError('minlength')) {
        <mat-error class="form__error"> Mínimo 6 caracteres </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Confirme sua senha</mat-label>
        <input
          matInput
          placeholder="Confirme sua senha"
          formControlName="confirmPassword"
          type="password"
          aria-label="Confirmação de senha"
        />
        @if(registerForm.get('confirmPassword')?.hasError('required')) {
        <mat-error class="form__error">Confirmação é obrigatória</mat-error>}
        @if (registerForm.get('confirmPassword')?.hasError('minlength')) {
        <mat-error class="form__error"> Mínimo 6 caracteres </mat-error>}
      </mat-form-field>
    </div>

    <div class="form__submit">
      <button
        mat-flat-button
        type="submit"
        [disabled]="!this.registerForm.valid || submitted"
        class="form__button"
      >
        <span *ngIf="!submitted">Cadastrar</span>
        <mat-spinner *ngIf="submitted" diameter="20"></mat-spinner>
      </button>
    </div>
  </form>
</div>
