<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Digite seu Nome"
          formControlName="first_name"
          aria-label="Nome"
        />
        <mat-error
          *ngIf="errorMessage(registerForm.get('first_name')) as error"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Sobrenome</mat-label>
        <input
          matInput
          placeholder="Digite seu sobrenome"
          formControlName="last_name"
          aria-label="Sobrenome"
        />
        <mat-error *ngIf="errorMessage(registerForm.get('last_name')) as error">
          {{ error }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="form__control">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="Digite seu e-mail"
        formControlName="email"
        aria-label="E-mail"
      />
      <mat-error *ngIf="errorMessage(registerForm.get('email')) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Senha</mat-label>
        <input
          matInput
          placeholder="Digite sua senha"
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
          aria-label="Senha"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
          class="form__icon"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="errorMessage(registerForm.get('password')) as error">
          {{ error }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Confirme sua senha</mat-label>
        <input
          matInput
          placeholder="Confirme sua senha"
          formControlName="confirmPassword"
          type="password"
          aria-label="Confirmação de senha"
        />
        <mat-error
          *ngIf="errorMessage(registerForm.get('confirmPassword')) as error"
        >
          {{ error }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form__submit">
      <button
        mat-flat-button
        type="submit"
        [disabled]="!this.registerForm.valid || submitted"
        class="submit-btn"
      >
        <span *ngIf="!submitted">Cadastrar</span>
        <mat-spinner *ngIf="submitted" diameter="20"></mat-spinner>
      </button>
    </div>
  </form>
</div>
