<div class="header-content">
  <h1 class="title">Atividades</h1>

  <button mat-flat-button (click)="openCreateActivity()">
    <mat-icon>add</mat-icon>
    Nova atividade
  </button>
</div>

<div class="calendary">
  <div class="calendary__container">
    <div class="calendary__heading">
      <h3>Dia 17</h3>
      <span>Sábado</span>
    </div>

    <div class="calendary__cards-group">
      <calendary-card title="Palestra sobre Tecnologia" hour="19:30" />

      <calendary-card title="Break Coffe" hour="21:30" />

      <calendary-card title="Sorteios" hour="21:30" />
    </div>
  </div>

  <div class="calendary__container">
    <div class="calendary__heading">
      <h3>Dia 18</h3>
      <span>Domingo</span>
    </div>

    <div class="calendary__cards-group">
      <span class="calendary__no-activity">
        Agenda livre, aproveite para adiantar alguma coisa ou ler um livro!
      </span>
    </div>
  </div>

  <div class="calendary__container">
    <div class="calendary__heading">
      <h3>Dia 19</h3>
      <span>Segunda</span>
    </div>

    <div class="calendary__cards-group">
      <calendary-card title="Academia" hour="06:00" />

      <calendary-card title="Reunião de alinhamento" hour="09:30" />
    </div>
  </div>
</div>
