<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="field group">
    <mat-form-field class="field firstName">
      <mat-label>Nome</mat-label>
      <input
        formControlName="first_name"
        placeholder="Digite seu nome"
        matInput
        type="text"
      />
      <mat-error *ngIf="errorMessage(editForm.get('first_name')) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field lastName">
      <mat-label>Sobrenome</mat-label>
      <input
        formControlName="last_name"
        placeholder="Digite seu nome"
        matInput
        type="text"
      />
      <mat-error *ngIf="errorMessage(editForm.get('last_name')) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="field email">
    <mat-label>E-mail</mat-label>
    <input
      matInput
      placeholder="Digite seu e-mail"
      formControlName="email"
      type="email"
    />
    <mat-error *ngIf="errorMessage(editForm.get('email')) as error">
      {{ error }}
    </mat-error>
  </mat-form-field>

  <div class="submit-btn">
    <button mat-flat-button>
      <mat-icon>save</mat-icon>
      Salvar
    </button>
  </div>
</form>
