.form {
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 2em;

  & input {
    height: auto;
    min-height: 0.5em;
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__control {
    width: 100%;
    display: flex;
    gap: 1em;
    margin-bottom: 0.8em;
  }

  &__error {
    margin-top: -1.5em;
    margin-left: -1em;
  }

  &__icon {
    margin-right: 1em;
    font-size: 0.8em;
  }

  &__submit {
    width: 60%;
    margin: 0 auto;
  }
}

.form__button {
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  padding: 1em;
}

.load-spinner {
  width: 2em;
  height: 2em;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 2em 0;

    &__group {
      flex-direction: row;
      gap: 1em;
    }
  }
}
