<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Nome</mat-label>
        <input
          matInput
          placeholder="Digite seu Nome"
          formControlName="first_name"
        />
        @if(registerForm.get('first_name')?.hasError('required')) {
        <mat-error class="form__error"> Nome é obrigatório </mat-error>}
        @if(registerForm.get('first_name')?.hasError('minlength')) {
        <mat-error> Nome deve ter no mínimo 3 caracteres </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Sobrenome</mat-label>
        <input
          matInput
          placeholder="Digite seu sobrenome"
          formControlName="last_name"
        />
        @if(registerForm.get('last_name')?.hasError('required')) {
        <mat-error class="form__error"> Sobrenome é obrigatório </mat-error>}
        @if(registerForm.get('last_name')?.hasError('minlength')) {
        <mat-error> Sobrenome deve ter no mínimo 3 caracteres </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field class="form__control">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Digite seu e-mail" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="form__control">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        placeholder="Digite seu telefone"
        formControlName="phone"
      />
    </mat-form-field>

    <div class="form__group">
      <mat-form-field class="form__control">
        <mat-label>Senha</mat-label>
        <input
          matInput
          placeholder="Digite sua senha"
          formControlName="password"
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="form__control">
        <mat-label>Confirme sua senha</mat-label>
        <input
          matInput
          placeholder="Confirme sua senha"
          formControlName="confirmPassword"
          type="password"
        />
      </mat-form-field>
    </div>

    <div class="form__submit">
      <button
        mat-flat-button
        type="submit"
        [disabled]="!this.registerForm.valid"
      >
        Cadastrar
      </button>
    </div>
  </form>
</div>
