.form {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  width: 80vw;
  max-width: 400px;
  gap: 1em;

  &__icon {
    margin-right: 1em;
    font-size: 0.8em;
  }

  &__error {
    margin-left: -1em;
  }
}

.submit-btn {
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  padding: 1em;
}
