/* COLORS */
$background-color-light: #1c1c1e;
$background-color: #09090b;

$bg-content: #121213;
$bg-card: #18181b;

$bg-danger: #5f0601;

$danger: #ff3b30;
$success: #4cd964;
$warning: #ffcc00;
$info: #007aff;

$font-gray: #bebebe;
