<img src="images/planner-logo.webp" alt="logotipo do sistema" />

<button
  mat-button
  class="back-btn"
  style="align-self: flex-start"
  (click)="goback()"
>
  <mat-icon fontIcon="chevron_left" />
  Voltar
</button>
<div class="container">
  <h1 class="title">Sentiremos sua falta!</h1>

  <p>
    Tem certeza que deseja excluir sua conta? ao excluir você perderá todos os
    seus dados e agenda programada.
  </p>

  <div class="buttons">
    <button mat-flat-button (click)="goback()">Mudei de ideia</button>

    <custom-button
      text="Excluir conta"
      [isLoading]="submitting"
      (click)="unsubscribe()"
      [isDisabled]="submitting"
      customClass="btn-danger"
    />
  </div>
</div>
