<button mat-icon-button mat-dialog-close aria-label="Fechar" class="close-btn">
  <mat-icon fontIcon="close" />
</button>

<h2 mat-dialog-title>Alterar Senha</h2>

<form [formGroup]="formPassword" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Senha Atual</mat-label>
      <input
        matInput
        placeholder="Digite sua senha atual"
        formControlName="current_pass"
        [type]="hidePassword() ? 'password' : 'text'"
      />
      <button
        class="form__icon"
        mat-icon-button
        type="button"
        matSuffix
        (click)="toggleHidePassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()"
        class="form__icon"
      >
        <mat-icon class="password-icon">{{
          hidePassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error
        *ngIf="errorMessage(formPassword.get('current_pass')) as error"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nova Senha</mat-label>
      <input
        matInput
        placeholder="Digite sua nova senha"
        formControlName="new_pass"
        [type]="newPassword() ? 'password' : 'text'"
      />
      <button
        class="form__icon"
        mat-icon-button
        type="button"
        matSuffix
        (click)="toggleNewPassword()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="newPassword()"
        class="form__icon"
      >
        <mat-icon class="password-icon">{{
          newPassword() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>

      <mat-error *ngIf="errorMessage(formPassword.get('new_pass')) as error">
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmar Nova Senha</mat-label>
      <input
        matInput
        placeholder="Digite sua nova senha"
        formControlName="confirm_pass"
        type="password"
      />

      <mat-error
        *ngIf="errorMessage(formPassword.get('confirm_pass')) as error"
      >
        {{ error }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <custom-button
      buttonType="submit"
      [isLoading]="submitting"
      text="Salvar"
      icon="save"
    />
  </mat-dialog-actions>
</form>
