.close-btn {
  align-self: flex-end;
  margin: 12px 12px 0;
}

.password-icon {
  font-size: 0.9em;
}

.submit-btn {
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  & mat-icon {
    font-size: 1.2em;
    margin-top: 0.5em;
  }
}

mat-form-field {
  width: 100%;
  margin: 0.5em 0;

  & button {
    margin-right: 0.5em;
  }
}
