:host {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: 40px;
    margin-bottom: 1em;
  }
}

.profile {
  &__content {
    background-color: #18181b;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5em 0;

    & p {
      color: #fff;
      text-align: center;
      font-weight: 600;
    }
  }

  &__avatar {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color: #fff;
    margin: 0 auto;
  }

  &__back {
    width: 100%;
    max-width: 500px;
    margin-bottom: 0.8em;
  }
}

.edit-password {
  width: 80%;
  margin: 18px auto 0;
}

.exclude-btn {
  margin-top: 1em;
  color: #af2310 !important;

  &:hover {
    background-color: #530d01;
  }
}
