<img src="images/planner-logo.webp" alt="logotipo do sistema" />

<div class="profile__back">
  <button mat-button (click)="back()">
    <mat-icon>chevron_left</mat-icon>
    voltar
  </button>
</div>

<div class="profile__content">
  <mat-icon
    aria-hidden="true"
    aria-label="perfil do usuário"
    class="profile__avatar"
    fontIcon="account_circle"
  ></mat-icon>
  <p>Franklin Campos</p>

  <user-form />

  <div class="edit-password">
    <button mat-button (click)="openEditPassword()">Alterar senha</button>
  </div>
</div>

<button mat-button class="exclude-btn" (click)="unsuscribe()">
  excluir conta
</button>
