<button mat-icon-button mat-dialog-close aria-label="Fechar" class="close-btn">
  <mat-icon fontIcon="close" />
</button>

<h2 mat-dialog-title>Adicionar Atividade</h2>
<form [formGroup]="formActivity" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <span>Todos os convidados podem visualizar as atividades</span>

    <div class="form-fields">
      <mat-form-field>
        <mat-label>Qual a atividade?</mat-label>
        <mat-icon fontIcon="sell" matPrefix />
        <input
          matInput
          placeholder="Digite o nome da atividade"
          formControlName="title"
          required
        />
        @if (errorMessage(formActivity.get('title'))) {
        <mat-error>{{ errorMessage(formActivity.get("title")) }}</mat-error>
        }
      </mat-form-field>

      <div class="fields-datehour">
        <div>
          <app-custom-datapicker
            placeholder="Quando será?"
            formControlName="date"
            [required]="true"
          >
          </app-custom-datapicker>
          @if (errorMessage(formActivity.get('date'))) {
          <mat-error>{{ errorMessage(formActivity.get("date")) }}</mat-error>
          }
        </div>

        <mat-form-field class="time-field">
          <mat-label>Horário</mat-label>
          <mat-icon fontIcon="schedule" matPrefix />
          <input
            matInput
            type="time"
            formControlName="time"
            placeholder="Selecione o horário"
          />
          @if (errorMessage(formActivity.get('time'))) {
          <mat-error>{{ errorMessage(formActivity.get("time")) }}</mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Local</mat-label>
        <mat-icon fontIcon="place" matPrefix />
        <input
          matInput
          placeholder="Onde será a atividade?"
          formControlName="address"
        />
        @if (errorMessage(formActivity.get('address'))) {
        <mat-error>{{ errorMessage(formActivity.get("address")) }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea
          matInput
          placeholder="Descreva a atividade"
          formControlName="description"
          rows="3"
        ></textarea>
        @if (errorMessage(formActivity.get('description'))) {
        <mat-error>{{
          errorMessage(formActivity.get("description"))
        }}</mat-error>
        }
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-raised-button color="primary">
      @if (submitting) {
      <mat-spinner diameter="20"></mat-spinner>
      } @else {
      <span>Adicionar Atividade</span>
      }
    </button>
  </mat-dialog-actions>
</form>
