<div class="login">
  <div class="login__create">
    <p>Não tem uma conta?</p>
    <button mat-flat-button routerLink="/cadastre-se">clique aqui</button>
  </div>

  <div class="login__container">
    <img
      src="images/planner-logo.webp"
      alt="logotipo do sistema"
      class="login__logo"
    />

    <div class="login__form">
      <div class="login__header">
        <h1>Bem vindo!</h1>
      </div>
      <app-login-form></app-login-form>
    </div>
    <a class="login__recover">Esqueceu a senha?</a>
  </div>
  <div></div>
</div>
