@use "mixins" as *;
@use "variables" as *;

span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

mat-icon {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.btn-danger {
  @include danger-btn;
}
